*{
    text-align: center;
 
}
h1{
    position:absolute
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, 100px);
    position: fixed;
    margin-left: 42%;
}

.green:hover{
    transform: rotate(200deg)
}
